.inventory-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 85%;
    margin-left: 7.5%;
}

.inventory-container .product-box {
    margin-bottom: 1em;
    max-width: 100%;
}

.inventory-list {
    width: 100%;
}

.inventory-container .product-box h4 {
    margin: 0;
}

.inv-edit-btn {
    background: none;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.inv-edit-btn.light {
    color: #000;
}

.inv-modal {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.inv-modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    width: 70%;
    text-align: left;
    border: 2px solid black;
}

.inv-modal-content.dark {
    background: black;
    color: white;
    border: 2px solid white;
    .inv-modal-header {
        color: white;
    }
    .inv-modal-close {
        color: white;
    }
}

.inv-modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    color: black;
}

.inv-modal-header h2 {
    margin: 0;
}

.inv-modal-close {
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
}

.inv-modal-body label {
    display: block;
    margin: 10px 0 5px;
}

.inv-modal-body input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 10px;
    border-radius: 0.5em;
}

.inv-modal-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.inv-save-btn, .inv-delete-btn {
    background-color: #6e5494;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 40%;
}

.inv-delete-btn {
    background-color: #ff4d4d;
}

.inv-save-btn.light, .inv-delete-btn.light {
    background-color: #FFC470;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 40%;
}

.inv-delete-btn.light {
    background-color: #ff4d4d;
}

.inv-save-btn:hover {
    background-color: #4e3c6a;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5em;
}

.search-input {
    height: 2em;
    border-radius: 0.5em;
    background: none;
}

.search-input.dark {
    color: white;
    border: 2px solid white;
    background: none;
}

.inv-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
}

.notification {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.notification button {
    margin-left: 20px;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
}

.notification button:hover {
    text-decoration: underline;
}

.inventory-list .name-image {
    width: 60%;
    text-align: center;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.inventory-list .product-box {
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
    box-shadow: none;
}

.inventory-list .product-data {
    transform: translateY(-0.5em);
}