.order-container {
    width: 85%;
    margin-left: 7.5%;
}

.plus-button {
    background-color: #28a745;
    border: none;
    color: white;
    font-size: 20px;
    border-radius: 50%;
    cursor: pointer;
    align-self: center;
    height: 1.5em;
    width: 1.5em;
}

.order-header {
    z-index: -1;
}

.camera-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.capture-button {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
}

.product-details {
    text-align: center;
    margin-top: 20px;
    display: flex;
}

.product-details img {
    width: 100px;
    height: 100px;
    border-radius: 10px;

}
.product-info {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

#result {
    text-align: center;
    font-size: 1.5em;
    margin-top: 20px;
}
.price-quantity {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.quantity-control {
    display: flex;
    align-items: center;
    height: 2em !important;
}
.quantity-button {
    margin-right: 5px;
    margin-left: 5px;
    border: none;
    height: 100%;
    border-radius: 50%;
    height: 2em;
    width: 2em;
    margin: 1em;
}

#result {
    display: none;
}

.item-details {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.item-details img {
    border-radius: 10px;
    width: 5em;
}

.item-details h2 {
    margin: 0;
}

.item-info {
    margin-left: 1em;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.order-header {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.camera-container .close-button {
    background: none;
    border: none;
    margin-bottom: 1em;
}

.total-price {
    height: 10vh;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px black solid;
}

.total-price h2 {
    margin: 0;
    padding: 1em;
}

.total-price.dark {
    color: white;
    border: 1px white solid;
}

.checkout-button {
    background: #28a745;
    color: white;
    border: none;
    padding: 1em;
    cursor: pointer;
    margin-right: 1em;
    border-radius: 2em;
    width: 10em;
}

.manual-entry-popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.manual-entry-popup input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px;
}

.manual-entry-popup button {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.manual-entry-popup button:hover {
    background-color: #0056b3;
}
