body {
  margin: 0;
  padding: 0;
}

nav {
  width: 85%;
  height: 5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 7.5%;
}

.burger {
  width: 2em;
  height: 1.8em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.line {
  height: 0.2em;
  width: 2em;
  background: black;
}

.container {
  width: 85%;
  padding: 7.5%;
}

.sales {
  width: 100%;
}


